amqp==1.4.9
anyjson==0.3.3
atomicwrites==1.2.0
attrs==18.1.0
backports.shutil-get-terminal-size==1.0.0
billiard==3.3.0.23
celery==3.1.11
decorator==4.3.0
enum34==1.1.6
funcsigs==1.0.2
gevent==1.0.2
greenlet==0.4.10
ipdb==0.11
ipython==5.8.0
ipython-genutils==0.2.0
kombu==3.0.37
linecache2==1.0.0
more-itertools==4.3.0
pathlib2==2.3.2
pexpect==4.6.0
pickleshare==0.7.4
pluggy==0.7.1
prompt-toolkit==1.0.15
psutil==5.4.7
ptyprocess==0.6.0
py==1.6.0
PyContracts==1.7.6
Pygments==2.2.0
pyparsing==2.2.0
pytest==3.7.4
pytest-logging==2015.11.4
pytz==2018.5
redis==2.9.1
requests==2.2.1
scandir==1.9.0
simplegeneric==0.8.1
six==1.11.0
snowplow-tracker==0.8.0
thrift==0.11.0
traceback2==1.4.0
traitlets==4.3.2
unittest2==1.1.0
wcwidth==0.1.7
